<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-gray-200 w-1/2 p-4 flex flex-col items-center space-y-3 mx-auto mt-4">
        <h1 class="text-2xl font-bol" data-th-text="${name}">Welcome to home page</h1>
        <p class="text-xl text-gray-700">Owner: <span data-th-text="${creator}"></span></p>
        <p>Github Repo: <span data-th-text="${githubRepo}"></span></p>
        <a data-th-href="${githubRepo}">Click here to open></a>
        <p class="text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum eius saepe
            corrupti illo suscipit?
            Voluptatibus exercitationem fuga praesentium atque! Atque dolorum necessitatibus rerum ab, alias doloremque.
            A maxime beatae dolorum. Optio, quisquam! Dolore sunt reprehenderit voluptas tempore mollitia alias! Fugit
            nostrum recusandae maxime natus corporis consequuntur aspernatur reprehenderit voluptatem consequatur?</p>

        <div>
            <button class="px-3 py-2 rounded bg-blue-700 text-white hover:bg-blue-600"> Click Here</button>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>

</html>